@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --background: #ffffff;
    --foreground: #171717;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: linear-gradient(to top, #a78bfa, #60a5fa, #bfdbfe );
    font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer components {
    .swiper-button-next,
    .swiper-button-prev {
        color: white;
        width: 40px;
        height: 40px;
    }

    .swiper-pagination-bullet {
        background-color: white;
        opacity: 0.7;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}
